body {
    background-color: #121212;
    color: #e2e2e2;

    font-family: "Onest";

    text-align: center;
}

main {
    padding-left: 15px;
    padding-right: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Anton";
    letter-spacing: 1px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}

#bio {
    border: 10px solid #c9c9c9;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: #242424;
}

#bio h1 {
    margin-bottom: 0px;
    margin-top: 5px;
}

#bio h2 {
    margin-top: 0px;
}

#goals {
    width: fit-content;
    padding-right: 15px;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid #c9c9c9;
    background-color: #242424;
}

#goals h1 {
    margin: 15px;
}

#hobbies {
    width: fit-content;
    padding-right: 15px;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid #c9c9c9;
    background-color: #242424;
}

#hobbies h1 {
    margin: 15px;
}

footer {
    font-family: "Anton";
    font-size: medium;
    padding: 15px;
    background-color: #242424;
}

ul {
    display: table;
    margin: 0 auto;
    text-align: left;
}

section#gallery img {
    height: auto;
    width: 100%;
}

article {
    border: 10px solid #c9c9c9;
    width: fit-content;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
}

#blog {
    background-color: #242424;
}

article h1 {
    margin-top: 0px;
}

article p {
    max-width: 100%;
    height: auto;
    width: auto;
}

#gallery {
    border: 10px solid #c9c9c9;
    background-color: #242424;
    height: auto;
    max-width: 100%;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#video {
    border: 10px solid #c9c9c9;
    background-color: #242424;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
}

.video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* Using this to keep aspect ration of video */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

fieldset {
    border: 10px solid #c9c9c9;
    max-width: 50%;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.drop-cap {
    font-size: xx-large;
    font-weight: bolder;
}

#formElements {
    display: grid;
    row-gap: 0.5em;
}

#contact {
    margin: 2rem auto;
    width: fit-content;
    border: 10px solid #c9c9c9;
    background-color: #242424;
}

#contact input, #contact textarea, #contact select, #contact button {
    padding: .5em;
    font-size: 1rem;
}

fieldset {
    border: 5px solid #c9c9c9;
}

#return {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
    width: fit-content;
    border: 10px solid #c9c9c9;
    background-color: #242424;
}

#return a {
    color: #e2e2e2;
    background-color: #242424;
    font-size: 1.5rem;
    text-decoration: none;
}

#return a:hover, #return a:hover {
    filter:invert(1);
    outline: none;
}

@media screen and (min-width: 60em) {

    #formElements {
        width: 600px;
    }

    figure {
        display:grid;
        grid-template-columns: 2fr 1fr;
    }

    .grid-border {
        padding-left: 10px;
        border-left: 1px solid #c9c9c9;
    }

    figcaption {
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }
    
    article p {
        max-width: 60vw ;
        columns: 40rem 2;
    }
}

@media screen and (min-width: 100em) {
    #formElements {
        width: 800px;
    }

    .gallery-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    figure {
        display: flex;
        flex-direction: column;
    }

    figcaption {
        align-self: center;
    }

    .gallery-grid hr {
        display: none;
    }

    .grid-border {
        border-left: 0px solid #c9c9c9;
    }

    .gallery-grid div:not(:last-child) {
        border-right: 1px solid #c9c9c9;
        margin-bottom: 5px;
    }

    figure img {
        padding-bottom: 10px;
        border-bottom: 1px solid #c9c9c9;
    }
}