body {
    background-color: #00B83A;
    color: #B30502;

    font-family: "Onest";

    text-align: center;
}

.header {
    font-family: "Anton";
    font-size: xx-large;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Anton";
    font-size: x-large;
}

footer {
    font-family: "Anton";
    font-size: medium;
}

ul {
    display: table;
    margin: 0 auto;
    text-align: left;
}

section.gallery img {
    max-width: 100%;
    height: auto;
    width: auto;
}

article {
    border: 10px solid #B30502;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

article p {
    width: 700px;
}

.gallery {
    border: 10px solid #B30502;
    height: auto;
    max-width: 100%;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}